PORT=4000
NODE_ENV=development

# Postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=roshan_blog_db
DB_USER=postgres
DB_PASSWORD=yourpassword

# JWT
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
